<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Page</title>
</head>
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark" >      
  <a style="color: white;" class="navbar-brand" href="#">MAHALAKSHMI HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-appointment"> Add Appointment</a>
    </li>
      <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/admin"> Back to Admin</a>
      </li>
    
    </ul>
  </div>
</nav>

<body>
<div class="container">
     <hr>
          <h2 style="text-align: center;margin-top: 20PX;color:orange ">Appointment Dashboard</h2>
          <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee behavior="scroll" direction="left">
            Welcome to Appointment Dashboard. Please find the patient list below!!., Click Add Appointment to add new Appointment, Click Update Appointment to Update Appointment</marquee></a>
     <hr>
    
<div class="tableFixHead">
    <table  class="table table-striped "style="background-color: rgb(206, 236, 240)" border="2" margin="5" padding="10px">
        <thead class="table-header">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">AGE</th>
            <th scope="col">SYMTOMS</th>
            <th scope="col">NUMBER</th>
          </tr>
        </thead>
        <tbody border="2">
          <tr *ngFor="let appointment of appointment" class="text-center">
            <td scope="row">{{appointment.id}}</td>
            <td>{{appointment.name}}</td>
            <td>{{appointment.age}}</td>
            <td>{{appointment.symptoms}}</td>
            <td>{{appointment.number}}</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</body>
</html>