<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">      
    <a style="color: white;" class="navbar-brand" href="#">MAHALAKSHMI HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-patient"> Add Patient </a>
        </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/medicine-list"> View Medicine </a>
        </li>&nbsp;
        <button class="btn btn-danger"routerLink="/home">Logout</button>
      </ul>
    </div>
  </nav>
  <div class="container">
  <hr>
    <h2 style="text-align: center;margin-top: 20PX;color:orange "> Doctor Dashboard</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee behavior="scroll" direction="left">
      Welcome to Doctor Dashboard. Please find the patient list below!!. Click Appointments to view and update Appointments, Click Add Appointment to add new Appointment</marquee></a>
  <hr>
<div class="tableFixHead">
<body>
  <table class="table table-sm" style="background-color: rgb(206, 236, 240)" border="2" margin="5" padding="10px">  
    <thead class="table-header">
        <tr class="text-center">
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>BLOOD GROUP</th>
            <th>URGRNCY</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let patient of patient" class="text-center">
            <td scope="row">{{patient.pid}}</td>
            <td>{{patient.pname}}</td>
            <td>{{patient.page}}</td>
            <td>{{patient.pblood}}</td>
            <td>{{patient.purgency}}</td>
            <td class="text-center">
              <button (click)="delete(patient.pid)" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt">DELETE</i> 
              </button>&nbsp;&nbsp;
          
              <button (click)="update(patient.pid)" class="btn btn-info btn-sm">
                  <i class="fas fa-edit"> UPDATE</i>
              </button>&nbsp;&nbsp;
          
              <button (click)="view(patient.pid)" class="btn btn-success btn-sm">
                  <i class="fas fa-eye">VIEW</i> 
              </button>
          </td>
          
        </tr>
    </tbody>
</table>
</body>
</div>