<!DOCTYPE html>
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">      
  <a style="color: white;" class="navbar-brand" href="#">MAHALAKSHMI HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/appointmentlist"> Appointments </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<hr>
  <h2 style="text-align: center;margin-top: 20PX;color:orange ">Admin Dashboard</h2>
  <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee behavior="scroll" direction="left">
    Welcome to Admin Dashboard. Please find the patient list below!!. Click Appointments to view and update Appointments, Click Add Appointment to add new Appointment</marquee></a>
<hr>

<div class="tableFixHead" >
    <table  class="table table-sm" style="background-color: rgb(206, 236, 240)" border="2" margin="5" padding="10px">
        <thead class="table-header">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">AGE</th>
            <th scope="col">FEES</th>
            <th scope="col">URGENCY</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patient" class="text-center">
            <td scope="row">{{patient.pid}}</td>
            <td>{{patient.pname}}</td>
            <td>{{patient.page}}</td>
            <td>{{patient.pfees}}</td>
            <td>{{patient.purgency}}</td>
            <td>
              <button (click)="delete(patient.pid)" class="btn btn-danger">DELETE</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>